@{
    ViewBag.Title = "Succes";
}

<h2>Your product was successfully added to the shopping cart! Thank you!</h2>
<h2>

</h2>
 <img src="/Content/Images/v.png"/>
<h2>

</h2>
 <p>
      @Html.ActionLink("Back to List", "Index")
</p>